__marimo__/
__pycache__/
__pypackages__/
._*
.abstra/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.directory
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.envrc
.fseventsd
.fuse_hidden*
.hypothesis/
.idea_modules/
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea/sonarlint
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nfs*
.nox/
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.streamlit/secrets.toml
.TemporaryItems
.tox/
.Trash-*
.Trashes
.venv
.VolumeIcon.icns
.webassets-cache
*,cover
*.cover
*.DS_Store
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pdb
*.pot
*.py.cover
*.py[cod]
*.py[codz]
*.pyc
*.sage.py
*.so
*.spec
**/*.rs.bk
**/mutants.out*/
*~
*$py.class
atlassian-ide-plugin.xml
build/
celerybeat-schedule
celerybeat.pid
cmake-build-debug/
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
debug
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
htmlcov/
Icon
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
media
Network Trash Folder
nosetests.xml
old
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
external/
src/virginia_clemm_poe/_version.py
target
target/
Temporary Items
var/
venv.bak/
venv/
wheels/
external/