# this_file: src_docs/mkdocs.yml

site_name: Virginia Clemm Poe
site_description: A Python package providing programmatic access to Poe.com model data with pricing information
site_author: Adam Twardoch
site_url: https://twardoch.github.io/virginia-clemm-poe/

repo_name: twardoch/virginia-clemm-poe
repo_url: https://github.com/twardoch/virginia-clemm-poe

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - search.highlight
    - search.share
    - toc.follow
    - content.code.copy
    - content.code.annotate
  palette:
    - scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google

use_directory_urls: false

extra_javascript:
  - https://code.jquery.com/jquery-3.6.0.min.js

extra_css:
  - https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Models:
    - Models: models/index.md
    - Table: table.html
  - Tools:
    - Intro: chapter1-introduction.md
    - Install: chapter2-installation.md
    - Start: chapter3-quickstart.md
    - Python: chapter4-api.md
    - CLI: chapter5-cli.md
    - Data: chapter6-models.md
    - Browser: chapter7-browser.md
    - Config: chapter8-configuration.md
    - Problems: chapter9-troubleshooting.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/twardoch/virginia-clemm-poe

copyright: Copyright &copy; 2025 Adam Twardoch

# Build directory
site_dir: ../docs
docs_dir: md